.btn-social {
	font-size: 1.2rem;
	padding: 20px;

	&-google {
		color: #ea4335;

		&:hover {
			box-shadow: 0 0 10px rgba(#ea4335, 9.0);
			border: none;
		}
	}

	&-fb {
		color: #3b5998;

		&:hover {
			box-shadow: 0 0 10px rgba(#3b5998, 9.0);
			border: none;
		}
	}
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
	width: 100%;
	position: relative;
}

.input100 {
	font-family: Poppins-Medium;
	font-size: 16px;
	color: #ffff;
	line-height: 1.2;

	display: block;
	width: 100%;
	height: 55px;
	background: #333;
	padding: 0 7px 0 43px;
}
