/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
	width: 100%;
	margin: 0 auto;
}

.container-login100 {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.wrap-login100 {
	width: 500px;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 10px;
	overflow: hidden;
}

// Background
.bg-container {
	background-image: url("../../../assets/images/bg-login.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
}
