<form
	class="login100-form"
	[formGroup]="registerForm"
	(submit)="onRegister()"
	autocomplete="off"
>
	<span class="login100-form-title mb-5">Nuevo Usuario</span>

	<div class="wrap-input100 mb-4">
		<input
			class="input100"
			formControlName="firstName"
			type="text"
			placeholder="Ingrese su nombre"
		/>
		<div *ngIf="isNotValid('firstName')" class="mt-2">
			<span style="color: orange">Este campo es obligatorio</span>
		</div>
	</div>

	<div class="wrap-input100 mb-4">
		<input
			class="input100"
			formControlName="lastName"
			type="text"
			placeholder="Ingrese su apellido"
		/>
		<div *ngIf="isNotValid('lastName')" class="mt-2">
			<span style="color: orange">Este campo es obligatorio</span>
		</div>
	</div>

	<div class="wrap-input100 mb-4">
		<input
			class="input100"
			formControlName="username"
			type="text"
			placeholder="Ingrese su username"
		/>
		<div *ngIf="isNotValid('username')" class="mt-2">
			<span style="color: orange">Este campo es obligatorio</span>
		</div>
	</div>

	<div class="wrap-input100 mb-4">
		<input
			class="input100"
			formControlName="email"
			type="email"
			placeholder="Ingrese su email"
		/>
		<div *ngIf="isNotValid('email')" class="mt-2">
			<span style="color: orange">Este campo es obligatorio</span>
		</div>
	</div>

	<div class="wrap-input100 mb-5">
		<input
			class="input100"
			type="password"
			formControlName="password"
			placeholder="Ingrese su contraseña"
		/>
		<div *ngIf="isNotValid('password')" class="mt-2">
			<span style="color: orange">Este campo es obligatorio</span>
		</div>
	</div>

	<div class="container mb-3">
		<button
			[disabled]="registerForm.invalid"
			type="submit"
			class="btn btn-tvlike-primary p-2 w-100"
		>
			Registrar usuario
		</button>
	</div>

	<hr />

	<div
		class="d-flex flex-column justify-content-center align-items-center mt-3"
	>
		<span class="txt1 mb-2">¿Ya tienes cuenta?</span>

		<a routerLink="/auth/login" class="txt2 text-danger">
			Ingresa una aquí
		</a>
	</div>
</form>
