<!-------------- Sidebar Container Inicio -------------->
<mat-sidenav-container class="sidenav-container">
	<!-------------- Sidebar Item List Inicio -------------->
	<mat-sidenav
		#drawer
		class="sidenav"
		fixedInViewport
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'"
		[opened]="(isHandset$ | async) === false"
	>
		<div
			class="border-bottom d-flex align-items-center justify-content-center"
			style="height: 4.09rem"
		>
			<span style="font-size: 1.3rem">Men&uacute;</span>
		</div>

		<ul class="p-0">
			<li
				class="sidebar-item d-flex align-items-center justify-content-start bg-auth-container"
				routerLink="/layout/home"
				routerLinkActive="active"
			>
				<mat-icon class="icon-menu">home</mat-icon>
				<span>Icicio</span>
			</li>
			<li
				class="sidebar-item d-flex align-items-center justify-content-start"
				routerLink="/layout/movies"
				routerLinkActive="active"
			>
				<mat-icon class="icon-menu"> supervisor_account</mat-icon>
				<span>Peliculas</span>
			</li>
			<li
				class="sidebar-item d-flex align-items-center justify-content-start"
				routerLink="/layout/series"
				routerLinkActive="active"
			>
				<mat-icon class="icon-menu"> folder </mat-icon>
				<span>Series</span>
			</li>

			<li
				class="sidebar-item d-flex align-items-center justify-content-start"
				routerLink="/layout/genres"
				routerLinkActive="active"
			>
				<mat-icon class="icon-menu"> folder_off </mat-icon>
				<span>G&eacute;nero </span>
			</li>
			<li
				class="sidebar-item d-flex align-items-center justify-content-start"
				routerLink="/layout/trends"
				routerLinkActive="active"
			>
				<mat-icon class="icon-menu">task</mat-icon>
				<span>En tendencia </span>
			</li>
		</ul>
	</mat-sidenav>
	<!-------------- Sidebar Item List Fin -------------->

	<!-------------- Sidebar Content Inicio -------------->
	<mat-sidenav-content>
		<!-------------- Toolbar Inicio -------------->
		<nav
			class="row d-flex justify-content-between align-items-center p-1 navbar navbar-expand-lg border-bottom"
		>
			<div
				style="width: 15%"
				class="col-md-3 d-flex align-items-center justify-content-between"
			>
				<button
					style="margin: 0.5rem 0"
					type="button"
					aria-label="Toggle sidenav"
					mat-icon-button
					(click)="drawer.toggle()"
				>
					<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
				</button>

				<h3 class="p-0 m-0">Peliculas</h3>
				<h3 class="p-0 m-0">Series</h3>
			</div>

			<div
				class="col-md-3 logo d-flex justify-content-center align-items-center"
			>
				<img
					class="logo"
					src="./assets/images/logo.png"
					alt="Logo de Tvlike"
				/>
			</div>

			<div class="col-md-3 d-flex justify-content-end ">
				<div
					class="user-button more-button"
					[matMenuTriggerFor]="menu"
					aria-label="Toggle menu"
				>
					<mat-icon>person</mat-icon>
					<span class="nav-user-name">Nombre Apellido</span>
					<mat-icon>keyboard_arrow_down</mat-icon>
				</div>
				<mat-menu #menu="matMenu" xPosition="before">
					<button (click)="onGoProfile()" mat-menu-item>
						<mat-icon>settings</mat-icon>
						<span>Perfil</span>
					</button>

					<button (click)="onLogout()" mat-menu-item>
						<mat-icon>logout</mat-icon>
						<span>Cerrar sesión</span>
					</button>
				</mat-menu>
			</div>

			<!-- <div class="title d-flex align-items-center">
					<button
						class="m-2"
						type="button"
						aria-label="Toggle sidenav"
						mat-icon-button
						(click)="drawer.toggle()"
					>
						<mat-icon aria-label="Side nav toggle icon"
							>menu</mat-icon
						>
					</button>

					<div style="margin-right: 0.5rem">
						<img
							class="logo"
							src="./assets/images/logo.png"
							alt="Logo Facyt"
						/>
					</div>
					<h3 class="p-0 m-0">Servicio comunitario</h3>
				</div>

				<div class="justify-content-end">
					<div class="d-flex justify-content-end">
						<div
							class="user-button more-button"
							[matMenuTriggerFor]="menu"
							aria-label="Toggle menu"
						>
							<mat-icon>person</mat-icon>
							<span class="nav-user-name">Nombre Apellido</span>
							<mat-icon>keyboard_arrow_down</mat-icon>
						</div>
						<mat-menu #menu="matMenu" xPosition="before">
							<button (click)="onGoProfile()" mat-menu-item>
								<mat-icon>settings</mat-icon>
								<span>Perfil</span>
							</button>

							<button (click)="onLogout()" mat-menu-item>
								<mat-icon>logout</mat-icon>
								<span>Cerrar sesión</span>
							</button>
						</mat-menu>
					</div>
				</div> -->
		</nav>
		<!-------------- Toolbar Fin -------------->

		<!-- Aqui se muestra el contenido correspondiente a cada item del sidebar -->
		<div class="container p-1">
			<div
				class="mt-1 card d-flex justify-content-between align-items-start"
			>
				<div class="w-100 card-body">
					<div class="container">
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
		</div>
	</mat-sidenav-content>
	<!-------------- Sidebar Content Fin -------------->
</mat-sidenav-container>
<!-------------- Sidebar Container Fin -------------->
